<div class="max-w-4xl mx-auto p-8">

  <.flash_messages flash={@flash} />

  <h1 class="text-3xl font-bold mb-8 text-gray-200 tracking-tight italic">
    File Processor Dashboard
  </h1>

  <.progress_bar
    stats={@stats}
    processing_started={@processing_started}
    all_done={@all_done}
    mode={@mode}
  />

  <.upload_form
    uploads={@uploads}
    mode={@mode}
    processing_started={@processing_started}
    all_done={@all_done}
  />

  <%= if @processing_started or @all_done do %>
    <.live_component
      module={FileProcessorWeb.MetricsDashboardComponent}
      id="metrics-dashboard"
      stats={@stats}
      processing_started={@processing_started}
      all_done={@all_done}
      mode={@mode}
      results_id={@results_id}
    />
  <% end %>

  <.file_list
    id="my-file-list"
    streams={@streams}
    file_list_filter={@current_file_list_filter}
    processing_started={@processing_started}
    all_done={@all_done}
  />

  <.success_toast
    stats={@stats}
    total_rows={@total_rows}
    all_done={@all_done}
    mode={@mode}
    show_toast={@show_toast}
  />

  <%= if @processing_started or @all_done do %>
    <.live_component
      module={FileProcessorWeb.DetailedReportComponent}
      id="detailed-report"
      results_id={@results_id}
      current_file_details_filter={@current_file_details_filter}
      selected_file={@selected_file_name}
      expanded_error_file={@expanded_error_file}
      current_error_details={@current_error_details}
    />
  <% end %>
</div>
